#### Условие 1: Задача 1
##### Считать данные с помощью pandas
##### Вывести на экран первые 5 строк
##### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
##### Если реновации дома не было, то в новом признаке поставьте 0
##### 1.3 Создайте признаки года продажи, месяца продажи
##### 1.4 Удалите признаки date, zipcode, lat, long

In [34]:
import pandas as pd

# Чтение данных из файла и вывод первых 5 строк
data = pd.read_csv('kc_house_data.csv')
print(data.head())

# Создание признака delta_renovated
data['delta_renovated'] = data.apply(lambda row: row['yr_renovated'] - row['yr_built'] if row['yr_renovated'] > 0 else 0, axis=1)
print(data['delta_renovated'])
# Создание признаков года продажи и месяца продажи
data['year_sold'] = pd.to_datetime(data['date']).dt.year
data['month_sold'] = pd.to_datetime(data['date']).dt.month
print('year_sold = ',data['year_sold'],'month_sold = ',data['month_sold'])
# Удаление признаков date, zipcode, lat, long
data = data.drop(['date', 'zipcode', 'lat', 'long'], axis=1)
print(data)

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]
0         0
1        40
2         0
3         0
4         0
         ..
21608     0
21609     0
21610     0
21611     0
21612     0
Name: delta_renovated, Length: 21613, dtype: int64
year_sold =  0        2014
1        2014
2        2015
3        2014
4        2015
         ...
21608    2014
21609    2015
21610    2014
21611    2015
21612    2014
Name: year_sold, Length: 21613, dtype: int64 month_sold =  0        10
1        12
2         2
3        12
4         2
         ..
21608     5
21609     2
21610     6
21611     1
21612    10
Name: month_sold, Length: 21613, dtype: int64
               id     price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0      7129300520  221900.0         3       1.00         1180      5650
1      6414100192  538000.0         3       2.25         2570      7242
2      5631500400  180000.0         2       1.00          770     10000
3      2487200875  604000.0         4       3.00         1960      5000
4      1954400510  510000.0         3       2.00         1680      8080
...           ...       ...       ...        ...          ...       ...
21608   263000018  360000.0         3       2.50         1530      1131
21609  6600060120  400000.0         4       2.50         2310      5813
21610  1523300141  402101.0         2       0.75         1020      1350
21611   291310100  400000.0         3       2.50         1600      2388
21612  1523300157  325000.0         2       0.75         1020      1076

       floors  waterfront  view  condition  grade  sqft_above  sqft_basement  \
0         1.0           0     0          3      7        1180              0
1         2.0           0     0          3      7        2170            400
2         1.0           0     0          3      6         770              0
3         1.0           0     0          5      7        1050            910
4         1.0           0     0          3      8        1680              0
...       ...         ...   ...        ...    ...         ...            ...
21608     3.0           0     0          3      8        1530              0
21609     2.0           0     0          3      8        2310              0
21610     2.0           0     0          3      7        1020              0
21611     2.0           0     0          3      8        1600              0
21612     2.0           0     0          3      7        1020              0

       yr_built  yr_renovated  sqft_living15  sqft_lot15  delta_renovated  \
0          1955             0           1340        5650                0
1          1951          1991           1690        7639               40
2          1933             0           2720        8062                0
3          1965             0           1360        5000                0
4          1987             0           1800        7503                0
...         ...           ...            ...         ...              ...
21608      2009             0           1530        1509                0
21609      2014             0           1830        7200                0
21610      2009             0           1020        2007                0
21611      2004             0           1410        1287                0
21612      2008             0           1020        1357                0

       year_sold  month_sold
0           2014          10
1           2014          12
2           2015           2
3           2014          12
4           2015           2
...          ...         ...
21608       2014           5
21609       2015           2
21610       2014           6
21611       2015           1
21612       2014          10

[21613 rows x 20 columns]

#### Условие 2: 2 задача
##### Создайте датафрейм с клиентами:
##### clients = pd.DataFrame({
##### 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
##### 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
##### 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
##### 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
##### 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
##### 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
##### 5083000375, 7920100025, 1951600150, 809001400, 339600110,
##### 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
##### 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
##### 3889100029, 9524100196]
##### })
##### 2.1 Присоедините к таблице clients данные по домам через метод join
##### 2.2 Присоедините к таблице clients данные по домам через метод merge
##### Это нужно, чтобы понимать, какие дома покупались клиентами
##### house_id - это индексы датафрейма с домами

In [35]:
# Создание фрейм данных клиентов
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
                  939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
                  2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196]
})
print(clients)
# Создание фрейм данных о домах
houses = pd.read_csv('kc_house_data.csv')
print(houses)
#  Объединение датафрейма данных клиентов с датафреймом данных домов с помощью столбца house_id
clients_join = clients.join(houses.set_index('id'), on='house_id')
print(clients_join)
# Слияние датафрейма клиентов с датафреймом домов с использованием столбца house_id
clients_merge = pd.merge(clients, houses, how='inner', left_on='house_id', right_on='id')
print(clients_merge)

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196
               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]
    client_id    house_id             date      price  bedrooms  bathrooms  \
0        1459  8965450190  20150218T000000   295000.0         3       2.50
1        4684  6823100225  20150414T000000   700000.0         4       1.75
2        3498  5104540330  20150508T000000   679000.0         4       2.50
3        3942  2131701075  20141204T000000   420000.0         3       1.75
4        4535  1522700060  20140624T000000   518000.0         4       2.75
5        2308  1189000207  20141021T000000   387000.0         2       2.50
6        2866  6821600300  20150318T000000   886000.0         3       2.25
7        2765  7137950720  20150304T000000   339100.0         4       2.50
8        1472  9510920050  20140902T000000   725000.0         3       2.50
9        4236  6131600255  20141222T000000   202500.0         3       2.00
10       2295  5428000070  20150511T000000   770000.0         5       3.50
11        939  1788800910  20141020T000000   190000.0         3       1.00
12       3840  8100400160  20150413T000000   700000.0         3       2.25
13        280  3123049142  20140805T000000   452000.0         3       2.25
14         20  6306800010  20140811T000000   436472.0         4       2.50
15       4332  5083000375  20141027T000000   170000.0         3       1.00
15       4332  5083000375  20150319T000000   235000.0         3       1.00
16       3475  7920100025  20150427T000000   450000.0         2       1.00
17       4213  1951600150  20150408T000000   180000.0         3       1.00
18       3113   809001400  20140922T000000   925000.0         3       1.00
19       4809   339600110  20140923T000000   395000.0         3       2.50
20       2134  1622049154  20141215T000000   289900.0         3       1.75
21       2242  1099600250  20141202T000000   260000.0         3       1.75
22       2068  8563000110  20150424T000000   427000.0         4       1.75
23       4929  2768100205  20140625T000000   519000.0         4       2.50
24       1384  3995700435  20140702T000000   265000.0         4       3.00
25       1589  8861700030  20141212T000000   510000.0         3       1.50
26       3317  3303980210  20150427T000000  1115000.0         4       3.75
27       2260  7731100066  20140612T000000   545000.0         3       1.00
28       1727  8146100580  20141020T000000   765000.0         3       1.00
29       1764   825069097  20140619T000000   770000.0         3       2.50
30       1611  3889100029  20140617T000000   810000.0         3       2.50
31       1474  9524100196  20141117T000000   239000.0         2       1.50

    sqft_living  sqft_lot  floors  waterfront  ...  grade  sqft_above  \
0          1500      3060     2.0           0  ...      7        1500
1          1870      6000     1.0           0  ...      8        1670
2          3680      7236     2.0           0  ...     10        3680
3          1720      5000     1.5           0  ...      8        1720
4          2520     14021     2.0           0  ...      9        2520
5          1170      1394     2.0           0  ...      8        1170
6          2380      6000     2.0           0  ...      9        1650
7          2350     10655     2.0           0  ...      8        2350
8          2980     16996     2.0           0  ...     10        2980
9          1540      8316     1.0           0  ...      6        1540
10         4750      8234     2.0           0  ...     10        3350
11         1200     10458     1.0           0  ...      6        1200
12         2330     11424     2.0           0  ...      8        2330
13         2600     14810     1.0           0  ...      8        1490
14         2692      8392     2.0           0  ...      9        2692
15         1310      9529     1.0           0  ...      7        1310
15         1310      9529     1.0           0  ...      7        1310
16          740      5100     1.0           0  ...      7         740
17         1610      8500     1.5           0  ...      7        1610
18         1630      3200     1.5           0  ...      8        1630
19         1610      3755     2.0           0  ...      7        1610
20         1899     11325     2.0           0  ...      7        1899
21         1710      6400     1.0           0  ...      7        1240
22         1460      9750     1.0           0  ...      7        1460
23         1950      2617     1.5           0  ...      7        1250
24         1940      8170     1.0           0  ...      7        1940
25         2400     10275     1.0           0  ...      8        1540
26         4040     14212     2.0           0  ...     11        4040
27         1510      5000     1.5           0  ...      7        1510
28         1220      7585     1.0           0  ...      7        1220
29         2650     40705     2.0           0  ...      9        2650
30         2670     10481     2.0           0  ...      9        2670
31          680       772     2.0           0  ...      7         680

    sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0               0      1994             0    98006  47.5605 -122.117
1             200      1949             0    98199  47.6435 -122.399
2               0      2006             0    98038  47.3543 -122.005
3               0      1932          2009    98019  47.7380 -121.983
4               0      1999             0    98019  47.7344 -121.957
5               0      2001             0    98122  47.6131 -122.297
6             730      1931             0    98199  47.6472 -122.393
7               0      1992             0    98092  47.3284 -122.171
8               0      1992             0    98075  47.5950 -122.016
9               0      1954             0    98002  47.3230 -122.216
10           1400      2013             0    98198  47.3574 -122.318
11              0      1961             0    98023  47.3262 -122.342
12              0      1984             0    98052  47.6386 -122.110
13           1110      1956             0    98166  47.4326 -122.341
14              0      2014             0    98030  47.3519 -122.197
15              0      1956             0    98198  47.4105 -122.295
15              0      1956             0    98198  47.4105 -122.295
16              0      1947             0    98115  47.6787 -122.301
17              0      1959             0    98032  47.3717 -122.297
18              0      1912             0    98109  47.6351 -122.352
19              0      1987             0    98052  47.6825 -122.097
20              0      1943          2005    98198  47.3987 -122.300
21            470      1976             0    98023  47.3036 -122.377
22              0      1967             0    98008  47.6205 -122.102
23            700      1910             0    98107  47.6696 -122.372
24              0      1948             0    98155  47.7381 -122.302
25            860      1964             0    98052  47.6888 -122.126
26              0      2002             0    98059  47.5189 -122.147
27              0      1909             0    98105  47.6708 -122.297
28              0      1954             0    98004  47.6094 -122.194
29              0      1994             0    98053  47.6680 -122.063
30              0      2003             0    98033  47.6673 -122.176
31              0      2005             0    98103  47.6950 -122.343

    sqft_living15  sqft_lot15
0            2700        7734
1            1710        6000
2            3310        7180
3            1410        8300
4            2330       14007
5            1250        3136
6            2000        6000
7            2210        7028
8            2980       15438
9            1250        8316
10           2160       14496
11           1160        9000
12           2050       11448
13           2450       16715
14           2574       14446
15           1330        9529
15           1330        9529
16            920        5100
17           1070        8750
18           1710        3600
19           1300        3823
20           2000       10454
21           1600        6400
22           1820        9840
23           1520        1438
24           1310        8169
25           2380       10125
26           3940       14212
27           1680        4000
28           1380        8918
29           2550       42625
30           2620        8895
31            690        1059

[33 rows x 22 columns]
    client_id    house_id          id             date      price  bedrooms  \
0        1459  8965450190  8965450190  20150218T000000   295000.0         3
1        4684  6823100225  6823100225  20150414T000000   700000.0         4
2        3498  5104540330  5104540330  20150508T000000   679000.0         4
3        3942  2131701075  2131701075  20141204T000000   420000.0         3
4        4535  1522700060  1522700060  20140624T000000   518000.0         4
5        2308  1189000207  1189000207  20141021T000000   387000.0         2
6        2866  6821600300  6821600300  20150318T000000   886000.0         3
7        2765  7137950720  7137950720  20150304T000000   339100.0         4
8        1472  9510920050  9510920050  20140902T000000   725000.0         3
9        4236  6131600255  6131600255  20141222T000000   202500.0         3
10       2295  5428000070  5428000070  20150511T000000   770000.0         5
11        939  1788800910  1788800910  20141020T000000   190000.0         3
12       3840  8100400160  8100400160  20150413T000000   700000.0         3
13        280  3123049142  3123049142  20140805T000000   452000.0         3
14         20  6306800010  6306800010  20140811T000000   436472.0         4
15       4332  5083000375  5083000375  20141027T000000   170000.0         3
16       4332  5083000375  5083000375  20150319T000000   235000.0         3
17       3475  7920100025  7920100025  20150427T000000   450000.0         2
18       4213  1951600150  1951600150  20150408T000000   180000.0         3
19       3113   809001400   809001400  20140922T000000   925000.0         3
20       4809   339600110   339600110  20140923T000000   395000.0         3
21       2134  1622049154  1622049154  20141215T000000   289900.0         3
22       2242  1099600250  1099600250  20141202T000000   260000.0         3
23       2068  8563000110  8563000110  20150424T000000   427000.0         4
24       4929  2768100205  2768100205  20140625T000000   519000.0         4
25       1384  3995700435  3995700435  20140702T000000   265000.0         4
26       1589  8861700030  8861700030  20141212T000000   510000.0         3
27       3317  3303980210  3303980210  20150427T000000  1115000.0         4
28       2260  7731100066  7731100066  20140612T000000   545000.0         3
29       1727  8146100580  8146100580  20141020T000000   765000.0         3
30       1764   825069097   825069097  20140619T000000   770000.0         3
31       1611  3889100029  3889100029  20140617T000000   810000.0         3
32       1474  9524100196  9524100196  20141117T000000   239000.0         2

    bathrooms  sqft_living  sqft_lot  floors  ...  grade  sqft_above  \
0        2.50         1500      3060     2.0  ...      7        1500
1        1.75         1870      6000     1.0  ...      8        1670
2        2.50         3680      7236     2.0  ...     10        3680
3        1.75         1720      5000     1.5  ...      8        1720
4        2.75         2520     14021     2.0  ...      9        2520
5        2.50         1170      1394     2.0  ...      8        1170
6        2.25         2380      6000     2.0  ...      9        1650
7        2.50         2350     10655     2.0  ...      8        2350
8        2.50         2980     16996     2.0  ...     10        2980
9        2.00         1540      8316     1.0  ...      6        1540
10       3.50         4750      8234     2.0  ...     10        3350
11       1.00         1200     10458     1.0  ...      6        1200
12       2.25         2330     11424     2.0  ...      8        2330
13       2.25         2600     14810     1.0  ...      8        1490
14       2.50         2692      8392     2.0  ...      9        2692
15       1.00         1310      9529     1.0  ...      7        1310
16       1.00         1310      9529     1.0  ...      7        1310
17       1.00          740      5100     1.0  ...      7         740
18       1.00         1610      8500     1.5  ...      7        1610
19       1.00         1630      3200     1.5  ...      8        1630
20       2.50         1610      3755     2.0  ...      7        1610
21       1.75         1899     11325     2.0  ...      7        1899
22       1.75         1710      6400     1.0  ...      7        1240
23       1.75         1460      9750     1.0  ...      7        1460
24       2.50         1950      2617     1.5  ...      7        1250
25       3.00         1940      8170     1.0  ...      7        1940
26       1.50         2400     10275     1.0  ...      8        1540
27       3.75         4040     14212     2.0  ...     11        4040
28       1.00         1510      5000     1.5  ...      7        1510
29       1.00         1220      7585     1.0  ...      7        1220
30       2.50         2650     40705     2.0  ...      9        2650
31       2.50         2670     10481     2.0  ...      9        2670
32       1.50          680       772     2.0  ...      7         680

    sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0               0      1994             0    98006  47.5605 -122.117
1             200      1949             0    98199  47.6435 -122.399
2               0      2006             0    98038  47.3543 -122.005
3               0      1932          2009    98019  47.7380 -121.983
4               0      1999             0    98019  47.7344 -121.957
5               0      2001             0    98122  47.6131 -122.297
6             730      1931             0    98199  47.6472 -122.393
7               0      1992             0    98092  47.3284 -122.171
8               0      1992             0    98075  47.5950 -122.016
9               0      1954             0    98002  47.3230 -122.216
10           1400      2013             0    98198  47.3574 -122.318
11              0      1961             0    98023  47.3262 -122.342
12              0      1984             0    98052  47.6386 -122.110
13           1110      1956             0    98166  47.4326 -122.341
14              0      2014             0    98030  47.3519 -122.197
15              0      1956             0    98198  47.4105 -122.295
16              0      1956             0    98198  47.4105 -122.295
17              0      1947             0    98115  47.6787 -122.301
18              0      1959             0    98032  47.3717 -122.297
19              0      1912             0    98109  47.6351 -122.352
20              0      1987             0    98052  47.6825 -122.097
21              0      1943          2005    98198  47.3987 -122.300
22            470      1976             0    98023  47.3036 -122.377
23              0      1967             0    98008  47.6205 -122.102
24            700      1910             0    98107  47.6696 -122.372
25              0      1948             0    98155  47.7381 -122.302
26            860      1964             0    98052  47.6888 -122.126
27              0      2002             0    98059  47.5189 -122.147
28              0      1909             0    98105  47.6708 -122.297
29              0      1954             0    98004  47.6094 -122.194
30              0      1994             0    98053  47.6680 -122.063
31              0      2003             0    98033  47.6673 -122.176
32              0      2005             0    98103  47.6950 -122.343

    sqft_living15  sqft_lot15
0            2700        7734
1            1710        6000
2            3310        7180
3            1410        8300
4            2330       14007
5            1250        3136
6            2000        6000
7            2210        7028
8            2980       15438
9            1250        8316
10           2160       14496
11           1160        9000
12           2050       11448
13           2450       16715
14           2574       14446

#### словие 3: 3 задача
##### Составьте несколько сводных таблиц
##### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
##### Отсортируйте от меньшей стоимости к большей
##### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома
##### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида
##### 3.4 Каких домов в зависимости от этажности и количества спален больше?
##### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [36]:
# 3.1
avg_price_by_bedrooms = houses.pivot_table(index='bedrooms', values='price', aggfunc='mean')
avg_price_by_bedrooms = avg_price_by_bedrooms.sort_values(by='price')
print(avg_price_by_bedrooms)

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

In [37]:
# 3.2
import numpy as np
df = pd.DataFrame(data)
# создаем сводную таблицу со столбцами condition и price
pivot_table = df.pivot_table(values='price', index='condition', 
                             aggfunc=[np.min, np.mean, np.max])

# присваиваем имена столбцам сводной таблицы
pivot_table.columns = ['Min Price', 'Mean Price', 'Max Price']

print(pivot_table)

           Min Price     Mean Price  Max Price
condition
1            78000.0  334431.666667  1500000.0
2            80000.0  327287.145349  2555000.0
3            75000.0  542012.578148  7062500.0
4            89000.0  521200.390033  7700000.0
5           110000.0  612418.089359  3650000.0

In [38]:
# 3.3
view_waterfront_table = pd.pivot_table(data=df, index=['view','waterfront'], columns=['grade'], values=['id'], aggfunc='count', fill_value=0)
print(view_waterfront_table)

                id
grade           1  3   4    5     6     7     8     9    10   11  12 13
view waterfront
0    0           1  3  26  229  1955  8556  5412  2160  857  242  43  5
1    0           0  0   2    2    15    93   110    63   26   18   2  0
     1           0  0   0    0     0     1     0     0    0    0   0  0
2    0           0  0   1    6    40   221   325   188  100   58  13  3
     1           0  0   0    0     2     1     1     1    2    1   0  0
3    0           0  0   0    0    12    76   142   124   81   44  10  2
     1           0  0   0    1     2     2     4     6    3    1   0  0
4    0           0  0   0    1     4    12    39    55   42   17  11  3
     1           0  0   0    3     8    19    35    18   23   18  11  0

In [39]:
# 3.4
floors_bedrooms_table = pd.pivot_table(data=df, index=['floors', 'bedrooms'], values=['price'], aggfunc='count', fill_value=0)
print(floors_bedrooms_table)

                 price
floors bedrooms
1.0    0             4
       1           162
       2          1951
       3          5455
       4          2383
       5           605
       6           104
       7             9
       8             5
       10            1
       33            1
1.5    1            21
       2           182
       3           786
       4           698
       5           185
       6            30
       7             7
       8             1
2.0    0             6
       1            12
       2           497
       3          3118
       4          3682
       5           775
       6           119
       7            19
       8             6
       9             4
       10            2
       11            1
2.5    1             1
       2             5
       3            56
       4            58
       5            23
       6            14
       7             2
       9             2
3.0    0             2
       1             3
       2           123
       3           405
       4            61
       5            13
       6             5
       7             1
3.5    0             1
       2             2
       3             4
       8             1

In [40]:
# 3.5
median_price_table = pd.pivot_table(data=df, index=['condition'], columns=['grade'], values=['price'], aggfunc='median')
print(median_price_table)

              price                                                    \
grade            1         3         4         5         6         7
condition
1          142000.0       NaN  150000.0  190000.0  255000.0  403500.0
2               NaN  280000.0  145000.0  180000.0  235000.0  305000.0
3               NaN   75000.0  205000.0  234475.0  265000.0  357500.0
4               NaN       NaN  238525.0  229975.0  295000.0  390000.0
5               NaN  262000.0       NaN  227450.0  285475.0  456000.0


grade            8          9          10         11         12         13
condition
1          932500.0        NaN        NaN        NaN        NaN        NaN
2          429000.0   715000.0  1752500.0        NaN        NaN        NaN
3          485000.0   689000.0   890000.0  1209500.0  1807500.0  2888000.0
4          571250.0   823500.0  1030000.0  1685000.0  2125000.0  5750000.0
5          696000.0  1078000.0  1650000.0  2050000.0  1990000.0        NaN